.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #66CDAA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  background: #CD853F;
  width: 30em;
  min-height: 10em;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border: .2em solid #CD853F;
  border-radius: .5em;
  margin: 2em;
}

.each-card {
  background-color: #CD853F;
  margin: .5em;
  width: 5em;
  height: 7em;
  border: .1em;
  border-radius: .2em;
  border-width: 1em;
  border-color: grey;
  perspective: 1000px;
}

.each-card-inner {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  /* border: .2em solid grey; */
  /* border-width: .2em;
  border-color: grey; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.each-card-front, .each-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.each-card-front {
  background: #87CEEB;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-size: 2em;
  margin: 2px;
  border: .2em solid grey;
  border-radius: .5em;
}
/* .each-card:click .each-card-inner {
  transform: rotateY(180deg);
} */

.each-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  border-width: .2em;
  background-color: rgba(224, 223, 220, 0.925);
  transform: rotateY(180deg);
}


.sologame {
  background: #66CDAA;
  display: inline-flex;
  width: 100%;
  position:absolute;
  left: 0;
  right: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


